In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
# rankings data is too big for github, so I uploaded three separate files 
# of global, finland and sweden yearly rankings instead
rankings=pd.read_csv("./data/ranking.csv")
features=pd.read_csv("./data/features.csv")

In [103]:
# show regions
rankings['Region'].unique()

array(['ec', 'fr', 'ar', 'fi', 'no', 'it', 'lt', 'ph', 'tw', 'nz', 'ee',
       'tr', 'us', 'sv', 'cr', 'de', 'cl', 'jp', 'br', 'hn', 'gt', 'ch',
       'hu', 'ca', 'pe', 'be', 'my', 'dk', 'bo', 'pl', 'at', 'pt', 'se',
       'mx', 'pa', 'uy', 'is', 'es', 'cz', 'ie', 'nl', 'sk', 'co', 'sg',
       'id', 'do', 'lu', 'gb', 'global', 'py', 'au', 'lv', 'gr', 'hk'],
      dtype=object)

In [131]:
# extract yearly rankings for a region
def region_ranking(country_code):
    region = rankings.loc[rankings['Region']==country_code]
    region_rankings = region.groupby('Track Name',as_index=False).sum() \
                .sort_values('Streams',ascending=False).reset_index(drop=True)[['Track Name','Streams']]
    return region_rankings

In [132]:
# extract global yearly ranking
global_rankings = region_ranking('global')

                           Track Name     Streams
0                        Shape of You  1490812208
1                   Despacito - Remix   919199404
2  Despacito (Featuring Daddy Yankee)   742841612
3            Something Just Like This   692404365
4                       Unforgettable   678399824

In [133]:
# extract Finland spotify yearly ranking
finland_rankings = region_ranking('fi')

          Track Name   Streams
0       Shape of You  15490841
1  Despacito - Remix  11610371
2           Antaudun  10907969
3           rockstar   9564494
4        Rahan takii   9162255

In [134]:
# extract Sweden spotify yearly ranking
sweden_rankings = region_ranking('se')

                      Track Name   Streams
0                   Shape of You  63869649
1              Despacito - Remix  49631835
2       Something Just Like This  34080940
3             More Than You Know  31980308
4  Symphony (feat. Zara Larsson)  31068787